* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


#menu {
    list-style: none;
    background-color: black;
    text-align: right;
    font-family: sans-serif;
    font-size: 15pt;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(36, 35, 35);
    border: 1px groove rgba(199, 2, 18, 0.986);
}

#menu li {
    display: inline;
}

#menu li a {
    display: inline-block;
    color: rgb(251, 255, 7);
    text-decoration: none;
    padding: 20px;
    transition: 0.5s ease-in;
}

#menu li a:hover {
    color: rgba(199, 2, 18, 0.986);
}


.titleCovid, .titleCare {
    text-align: left;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 30vh;
    margin-inline-end: 30vh;
    color: black;
}

.subtitle, .subtitle2, .subtitle3, .introduction, .finalInfos {
    font-size: 12pt;
    font-family: DejaVu Sans Mono, monospace;
    line-height: 2;
    color: black;
    display: block;
    margin-block-start: -1em;
    margin-block-end: 2em;
    margin-inline-start: 30vh;
    margin-inline-end: 30vh;
}

.symptoms, .symptoms2, .symptoms3 {
    font-size: 12pt;
    font-family: DejaVu Sans Mono, monospace;
    line-height: 2;
    color: black;
    display: block;
    margin-block-start: -1em;
    margin-block-end: 2em;
    margin-inline-start: 40vh;
    margin-inline-end: 30vh;
}

#ftr {
    height: 40px;
    margin-top: 70px;
    text-align: center;
    background-color: rgb(36, 35, 35);
    padding: 13px;
}

#ftr footer {
    font-size: 10pt;
    font-weight: bold;
    font-family: DejaVu Sans Mono, monospace;
    text-transform: uppercase;
    background-color: rgb(36, 35, 35);
}

/* Scrollbar configs */

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: rgb(36, 35, 35);        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(114, 114, 113);    /* color of the scroll thumb */
    border-radius: 10px;
    border: 1px groove rgb(36, 35, 35);  /* creates padding around scroll thumb */
}
